<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Our Doctors</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="page fade">

<div class="top">
<div class="brand">NRK & CO HOSPITAL</div>

<div class="nav-links">
<a href="/">Home</a>
<a href="/departments">Departments</a>
<a href="/doctors">Doctors</a>
<a href="/booking">Book</a>
<a href="/queue">Queue</a>
<a href="/admin">Admin</a>
</div>
</div>

<h1>Meet Our Specialists</h1>

<p class="sub">
Trusted doctors across departments delivering premium care.
</p>

<div class="grid">

<div class="card">
<div class="badge">Cardiology</div>
<h3>Dr Arun Kumar</h3>
<p class="sub">Heart Specialist • 12 Years Experience</p>
<a href="/booking" class="btn2">Book Now</a>
</div>

<div class="card">
<div class="badge">Neurology</div>
<h3>Dr Meera N</h3>
<p class="sub">Brain & Nerve Specialist • 10 Years Experience</p>
<a href="/booking" class="btn2">Book Now</a>
</div>

<div class="card">
<div class="badge">Orthopedics</div>
<h3>Dr Rajesh</h3>
<p class="sub">Bone & Joint Surgeon • 14 Years Experience</p>
<a href="/booking" class="btn2">Book Now</a>
</div>

<div class="card">
<div class="badge">Pediatrics</div>
<h3>Dr Sonia</h3>
<p class="sub">Child Specialist • 9 Years Experience</p>
<a href="/booking" class="btn2">Book Now</a>
</div>

<div class="card">
<div class="badge">Dental</div>
<h3>Dr Hari</h3>
<p class="sub">Dental Surgeon • 11 Years Experience</p>
<a href="/booking" class="btn2">Book Now</a>
</div>

<div class="card">
<div class="badge">ENT</div>
<h3>Dr Rahul</h3>
<p class="sub">ENT Specialist • 8 Years Experience</p>
<a href="/booking" class="btn2">Book Now</a>
</div>

</div>

<div class="footer">
Trusted Specialists • NRK & CO Hospital
</div>

</div>

</body>
</html>